﻿ <tr><td colspan="3" height="15"></td></tr>
							<tr>
								<td width="96" valign="top" rowspan="3">
									<a href="http://www.ladieschoicevancouver.com/Profile/Index/{{ProfileModelID}}" style="display:block;width:82px" target="_blank">
										<img src="{{Image}}" border="0" alt="{{Username}}" width="82" height="82">

									</a>
								</td>
								<td style="font-size:12px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif,sans;color:#444;line-height:16px">
									<a href="http://www.ladieschoicevancouver.com/Profile/Index/{{ProfileModelID}}" style="font-size:14px;font-weight:bold;line-height:20px;color:#16417b;text-decoration:none" target="_blank">
										{{Username}}
									</a>
									<br>
									{{Age}} / {{AreaOfTown}}
									<br>
								</td>
							</tr>
							<tr><td height="10" style="font-size:0;line-height:0">&nbsp;</td></tr>
							<tr>
								<td style="font-size:12px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif,sans;color:#444;line-height:18px">
									 <a href="http://www.ladieschoicevancouver.com/Profile/Index/{{ProfileModelID}}" style="color:#16417b;text-decoration:none" target="_blank">view {{GenderPossessive}} profile</a>
								</td>
							</tr>
							<tr><td colspan="3" height="20" style="font-size:0;line-height:0;border-bottom:1px solid #d7e3f0">&nbsp;</td></tr>
