﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    <body>


<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" bgcolor="#e9f1f9" style="background:#a4e5e4;margin:0 auto">
	<tbody><tr>
		<td style="font-size:0;line-height:0">&nbsp;</td>
		<td style="font-size:0;line-height:0" width="10">&nbsp;</td>
		<td width="455" align="center" style="width:455px">
			
			<table cellpadding="0" cellspacing="0" border="0" width="455" style="text-align:left;margin:0 auto">
				<tbody><tr><td style="font-size:0;line-height:0" height="15">&nbsp;</td></tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tbody><tr>
								<td width="119" align="left">
									<a href="http://www.ladieschoicevancouver.com" style="display:block" target="_blank">
										<img src="http://www.ladieschoicevancouver.com/Content/Vancouver/logo.png" width="100%" height="30" style="display:block" border="0">
									</a>
								</td>
								
								
							</tr>
						</tbody></table>
					</td>
				</tr>
				<tr><td style="font-size:0;line-height:0" height="10">&nbsp;</td></tr>
								
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="border:1px solid #d7e3f0">
							<tbody><tr><td style="font-size:0;line-height:0" colspan="3" height="14">&nbsp;</td></tr>
							<tr>
								<td style="font-size:0;line-height:0" width="14">&nbsp;</td>
								<td style="color:#555555;font-size:13px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif,sans;line-height:18px"> 
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tbody><tr><td height="10"></td></tr>
			<tr>
				<td style="color:#16417b;font-size:19px;font-weight:bold">
					Check out these new guys
				</td>
			</tr>
			<tr>
				<td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody><tr><td colspan="3" height="10" style="font-size:0;line-height:0;border-bottom:1px solid #d7e3f0">&nbsp;</td></tr>
						
					{{matches}}

                           
                    </tbody></table>
				</td>
			</tr>
			<tr>
				<td height="20"></td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" border="0" width="100%">
						<tbody><tr>
							<td style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif,sans;font-size:12px;color:#666;line-height:19px">
								
								Why not send one of them a message?  Or <a href="http://ladieschoice{{LocalDomain}}/MyMatches">check out the rest of your matches</a>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td height="20"></td>
			</tr>
		</tbody></table>
	 </td>
								<td style="font-size:0;line-height:0" width="14">&nbsp;</td>
							</tr>
							<tr><td style="font-size:0;line-height:0" colspan="3" height="14">&nbsp;</td></tr>
						</tbody></table>
					</td>
				</tr>
				<tr><td style="font-size:0;line-height:0" height="5">&nbsp;</td></tr>
				<tr>
					<td align="center" style="font-size:11px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif,sans;color:#8ca4c2;line-height:16px">
						Ladies Choice Media Inc. 331-1834C Oak Bay Avenue, Victoria, BC, V8R 0A4
						
							<br>
							<a href="http://ladieschoice{{LocalDomain}}/Account/MyAccount" style="color:#8ca4c2;text-decoration:none;font-size:12px;font-weight:bold" target="_blank">
								unsubscribe and / or change your mailing preferences 
							</a>
						
					</td>
				</tr>
				<tr><td style="font-size:0;line-height:0" height="50">&nbsp;</td></tr>
			</tbody></table>
		
		</td>
		<td style="font-size:0;line-height:0" width="10">&nbsp;</td>
		<td style="font-size:0;line-height:0">.</td>
	</tr>
</tbody></table>

           
</body>
</html>