﻿@{
    ViewBag.Title = "Ladies Choice Admin";
}

<h2>Ladies Choice Admin</h2>

<p><a href="/AdminHome/ViewFlaggedUsers/?city=Vancouver">View flagged Vancouver users</a></p>
<p><a href="/AdminHome/RunReEngagementVancouver">Run Vancouver ReEngagement Cron</a></p>
<form action="/AdminHome/RunReEngagementVancouver">
    @Html.TextBox("userIDtoStartAt", "0")
    @Html.Hidden("city", "Vancouver")
    <input class="btn btn-success" type="submit" value="Run cron starting at userID X">
</form>
<form action="/AdminHome/ProfileDetailsByUsername">
    @Html.TextBox("username", "")
    @Html.Hidden("city", "Vancouver")
    <input class="btn btn-success" type="submit" value="Find user by username">
</form>
<form action="/AdminHome/ProfileDetails">
    @Html.TextBox("userID", "")
    @Html.Hidden("city", "Vancouver")
    <input class="btn btn-success" type="submit" value="Find user by userid">
</form>

<br />
<br />
<p><a href="/Event">Manage Events</a></p>

@*<p>ChangePasswordOfUser(string city, int userID, string newPassword)</p>*@