﻿@model LadiesChoiceAdmin.ViewModels.ProfileDetailsViewModel

@{
    ViewBag.Title = "Profile Details";
}

@if (Model.FlashMessage != null) { 
    <div class="msg">@Model.FlashMessage</div>
}
<div class="context-menu">

    @*<h3 class="ui-narrow-only">@Html.DisplayFor(model => model.Username)</h3>*@




    <div style="clear: both;">&nbsp;</div>
</div>
<h1>@Html.DisplayFor(model => model.UsernameOfProfile)</h1>
@*        <h3 class="ui-wide-only">@Html.DisplayFor(model => model.Username)</h3>*@
<div class="row-fluid profile">
    <!-- Photo -->
    <div class="span8">
        @foreach (var photo in Model.Photos) {
     <div class="photowell">
         <div>
           <img src="@Url.Content(Model.PhotoPath + "thumb/" + photo.PhotoModelID.ToString()+ ".jpg")">
         </div>
         <div>@photo.Caption</div>
         @if (photo.IsMainPhoto) {<div><p>Main Photo</p></div>}
         <div><p><a href="/AdminHome/DeletePhoto/@photo.PhotoModelID/?city=@Model.City">Delete this photo</a></p></div>
         <br />
         
     </div>          
}
        <div class="span6 profile-header">
                <table class="table">
                    <tr>
                        <th>Email:</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td>@Model.Age</td>
                    </tr>
                    <tr>
                        <th>Height:</th>
                        <td>@Model.Height</td>
                    </tr>
                    <tr>
                        <th>Area:</th>
                        <td>@Model.area</td>
                    </tr>
                    <tr>
                        <th>Looking For?</th>
                        <td>@Model.LookingFor</td>
                    </tr>
                    <tr>
                        <th>Job</th>
                        <td>@Model.Job</td>
                    </tr>
                    <tr>
                        <th>Job</th>
                        <td>@Model.IPAddress</td>
                    </tr>
                </table>

            </div>
        <div class="profile-description">
            @*    <h2>About Me</h2>*@
            @*{{{Description}}}*@
            @Html.Raw(Model.Description)
            @if (Model.Hobbies != null)
            {
                @Html.Raw(Model.Hobbies)
            }
            @if (Model.ValueInAPartner != null)
            {
                <p>What I'm looking for:</p>
                @Html.Raw(Model.ValueInAPartner)
            }

            @if (Model.TVShows != null)
            {
                <p>TV shows I watch</p>
                @Html.Raw(Model.TVShows)
            }
            @if (Model.ExtraQuestion1 != null)
            {
                <p>Extra question 1</p>
                @Html.Raw(Model.ExtraQuestion1)
            }
            @if (Model.WhatILikeAboutMyCity != null)
            {
                <p>What I like about my city</p>
                @Html.Raw(Model.WhatILikeAboutMyCity)
            }
            
 
        </div>
    </div>
    <div><p>Is disabled:@Model.HasUserDisabledTheirAccount   @if (Model.HasUserDisabledTheirAccount) { <a href="/AdminHome/EnableAccount/@Model.UserIDOfProfile/?city=@Model.City">enable account</a> } else {<a href="/AdminHome/DisableAccount/@Model.UserIDOfProfile/?city=@Model.City">disable account</a>}</p></div>
    <div><a href="/AdminHome/ViewMessagesOfUser/?userID=@Model.UserIDOfProfile&city=@Model.City">View All Messages of @Model.UsernameOfProfile</a></div>
    <br />
    <br />
    <p>Message Sent:@Model.TotalMessagesSent</p>
    <p>Message Received:@Model.TotalMessagesReceived</p>
        <p>Number of Flagged Messages: @Model.NumberOfFlaggedMessages</p>
    <form action="/AdminHome/DeleteUser">
        @Html.Hidden("userID", Model.UserIDOfProfile)
        @Html.Hidden("city", Model.City)
            <input class="btn btn-success" type="submit" value="Delete user" onclick="return confirm('Are you sure you want to delete @Model.UsernameOfProfile?');">

    </form>

                @Html.ActionLink("Mark as Non-Spammer", "MarkUserAsNonSpammer", new { city = Model.City, userID = Model.UserIDOfProfile }) 


