﻿@{
    ViewBag.Title = "ViewAllWomen";
}
@model IEnumerable<LadiesChoice.ViewModels.ProfileCardViewModel>

<h2>ViewAllWomen</h2>
<p>Number of Profiles: @Model.Count()</p>

@foreach (LadiesChoice.ViewModels.ProfileCardViewModel m in Model)
{
    <p>@m.Name</p>
    <p><img src="@String.Concat("https://s3-us-west-2.amazonaws.com/ladieschoicevancouver/thumb/", m.PhotoModelID, ".jpg")"></p>
           <p> <a class="profile-link" href="http://ladieschoicevancouver.com/Profile/Index/@m.ProfileModelID">view profile</a>
</p>
} 
