﻿@model LadiesChoiceAdmin.ViewModels.ViewFlaggedUsersViewModel
@{
    ViewBag.Title = "Flagged Users";
}

<h2>Flagged Users</h2>


<table>
    
@foreach (var item in Model.FlaggedProfiles) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("View Messages", "ViewFlaggedMessages", new { city = Model.City, userID = item.UserId }) |
            @Html.ActionLink("Details", "ProfileDetails", new { city = Model.City, userID = item.UserId }) 
        </td>
    </tr>
}

</table>
