﻿@model LadiesChoiceAdmin.ViewModels.ViewFlaggedMessagesViewModel
@{
    ViewBag.Title = "Flagged Messages";
}

<h2>Flagged Messages of UserID: @Model.Username</h2>
<h3>@Model.FlashMessage</h3>

<table>
@foreach (var item in Model.FlaggedMessages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>

        <td>
            @Html.ActionLink("Aprove", "ApproveMessage", new { messageID = item.MessageModelID, city = Model.City, userID = Model.UserID }) |
            
        </td>
    </tr>
}

</table>
<h2>All Messages of UserID: @Model.Username</h2>
<table>
@foreach (var item in Model.AllMessages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>

    </tr>
}

</table>
