﻿@model LadiesChoice.Models.EventModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>EventModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PromoCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PromoCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkToEvent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkToEvent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HideFromMen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HideFromMen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HideFromWomen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HideFromWomen)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
