﻿@model LadiesChoice.Models.EventModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EventModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PromoCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PromoCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkToEvent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkToEvent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxAge)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxAge)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HideFromMen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HideFromMen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HideFromWomen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HideFromWomen)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
