﻿@model LadiesChoice.Models.EventModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EventModel</legend>

        @Html.HiddenFor(model => model.EventID)
        <table><tr><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.EventName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventName)
            @Html.ValidationMessageFor(model => model.EventName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EventDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventDate)
            @Html.ValidationMessageFor(model => model.EventDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EventDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EventDescription)
            @Html.ValidationMessageFor(model => model.EventDescription)
        </div>
            </td><td>
        <div class="editor-label">
            @Html.LabelFor(model => model.PromoCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PromoCode)
            @Html.ValidationMessageFor(model => model.PromoCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkToEvent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkToEvent)
            @Html.ValidationMessageFor(model => model.LinkToEvent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinAge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinAge)
            @Html.ValidationMessageFor(model => model.MinAge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxAge)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxAge)
            @Html.ValidationMessageFor(model => model.MaxAge)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cost)
            @Html.ValidationMessageFor(model => model.Cost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PromoDiscount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PromoDiscount)
            @Html.ValidationMessageFor(model => model.PromoDiscount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HideFromMen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HideFromMen)
            @Html.ValidationMessageFor(model => model.HideFromMen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HideFromWomen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HideFromWomen)
            @Html.ValidationMessageFor(model => model.HideFromWomen)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.Publish)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Publish)
            @Html.ValidationMessageFor(model => model.Publish)
        </div>
                </td></tr></table>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
